.hero {
    height: 400px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.bank-tree-img {
    margin-top: 200px;
    display: block;
}

.hero-content {
  position: absolute;
  right: 50px;
  width: 300px;
  height: 150px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 1rem;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.features {
  display: flex;
  flex-direction: row;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
  }

  .hero-content {
    position: absolute;
    width: 225px;
    height: 140px;
  }

  .features {
    flex-direction: column;
  }
}

