.hero {
    height: 400px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.bank-tree-img {
    margin-top: 200px;
}

.features {
  display: flex;
  flex-direction: column;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

