.user-bg-dark {
    background-color: #12002b;
    height: 730px;
} 

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 2rem;
}

.header h1 {
  text-align: center;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-content-wrapper.cta {
  display: flex;
  justify-content: end;
}

.transaction-button {
  display: block;
  width: 200px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

@media (max-width: 768px) {
  .account {
    flex-direction: column;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 100%;
  }

  .user-bg-dark {
    height: 900px;
  }
}