.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.main-nav-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav-item {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.main-nav-item i {
  margin-right: 0.1rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main-nav-auth {
    display: flex;
    align-items: center;
  }

  .main-nav-item {
    display: flex;
    align-items: center;
  }
}